.git
.gitignore
.dockerignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
logs
*.log
local_db.sqlite3
db.sqlite3
media
staticfiles
aws-deploy-guide.md
docker-compose.yml
docker-compose.prod.yml
README.md
